<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.dao.admin.AdminMapper">
    <select id="getAdminByAdminName"
            parameterType="java.lang.String"
            resultType="com.pms.model.admin.Admin">
        SELECT userName,password,realName
        FROM admin
        WHERE userName = #{adminName};
    </select>
    <update id="updateAdminInfo"
            parameterType="com.pms.model.admin.Admin">
        UPDATE admin
        <set>
            <if test="password != ''">
                password = #{password},
            </if>
            <if test="realName != ''">
                realName = #{realName}
            </if>
        </set>
        WHERE userName = #{adminName};
    </update>
</mapper>