<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.dao.file.FileMapper">
    <resultMap id="FileImpl" type="com.pms.model.file.FileImpl">
        <result property="fileId" column="file_id"/>
        <result property="fileName" column="file_name"/>
        <result property="url" column="url"/>
        <result property="fileClass" column="class"/>
        <result property="size" column="size"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delTime" column="del_time"/>
        <result property="isPrivater" column="is_privater"/>
    </resultMap>

    <select id="selectByFileId" resultMap="FileImpl" parameterType="com.pms.model.file.FileImpl">
        SELECT file_id,file_name,url,class,size,create_by,create_time,del_flag,del_time,is_privater
        FROM file
        WHERE file_id = #{fileId} AND del_flag = 0;
    </select>


    <delete id="deleteFile">
        DELETE FROM file
        WHERE file_id = #{fileId};
    </delete>

    <insert id="insertFileInfo">
        INSERT INTO file
        (file_id,file_name,url,class,size,create_by,create_time,del_flag,del_time,is_privater)
        VALUES
        (#{fileId},#{fileName},#{url},#{fileClass},#{size},#{createBy},#{createTime},#{delFlag},#{delTime},#{isPrivater})
    </insert>

    <update id="updateFileInfo" parameterType="com.pms.model.file.FileImpl" >
        UPDATE file
        <set>
            <if test="fileId != null">
                file_id = #{fileId},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="fileClass != null">
                class = #{fileClass},
            </if>
            <if test="size !=null">
                size = #{size},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime !=null">
                create_time = #{createTime},
            </if>
            <if test="delFlag != 0">
                del_flag = #{delFlag},
            </if>
            <if test="delTime != null">
                del_time = #{delTime},
            </if>
            <if test="isPrivater != null">
                is_privater = #{isPrivater}
            </if>
        </set>
        WHERE file_name = #{fileName};
    </update>

    <update id="deleteByDelFlag">
        UPDATE file
        <set>
            <if test="delFlag != 0">
                del_flag = #{delFlag},
            </if>
            <if test="delTime != null">
                del_time = #{delTime}
            </if>
        </set>
        WHERE file_id = #{fileId};
    </update>

    <update id="recoverFile" parameterType="java.lang.Integer">
        UPDATE file
        <set>
            <if test="delFlag = 0">
                del_flag = #{delFlag},
            </if>
            <if test="delTime != null">
                del_time = #{delTime}
            </if>
        </set>
        WHERE file_id = #{fileId};
    </update>

</mapper>