<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.dao.file.FileMapper">
    <resultMap id="File" type="com.pms.model.file.File">
        <result property="fileName" column="file_name"/>
        <result property="url" column="url"/>
        <result property="fileClass" column="class"/>
        <result property="size" column="size"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delTime" column="del_time"/>
        <result property="isPrivater" column="is_privater"/>
    </resultMap>

    <select id="selectByFileName" resultMap="File" >
        SELECT file_name,url,class,size,create_by,create_time,del_flag,del_time,is_privater
        FROM file
        WHERE file_name = #{fileName};
    </select>

    <delete id="deleteByFileName">
        DELETE FROM file
        WHERE file_name = #{fileName};
    </delete>

    <insert id="insertFileInfo">
        INSERT INTO file
        (file_name,url,class,size,create_by,create_time,del_flag,del_time,is_privater)
        VALUES
        (#{fileName},#{url},#{fileClass},#{size},#{createBy},#{createTime},#{delFlag},#{delTime},#{isPrivater})
    </insert>

    <update id="updateFileInfo" parameterType="com.pms.model.file.File">
        UPDATE file
        <set>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="fileClass != null">
                class = #{fileClass},
            </if>
            <if test="size !=null">
                size = #{size},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime !=null">
                create_time = #{createTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="delTime != null">
                del_time = #{delTime},
            </if>
            <if test="isPrivater != null">
                is_privater = #{isPrivater}
            </if>
        </set>
        WHERE file_name = #{fileName};
    </update>

</mapper>